@model PRA_Knjizara.Models.Transactions.Purchase

@{
    ViewData["Title"] = "Create";
}

<h1>Purchase selected book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="BookID" class="control-label"></label>
                <input asp-for="BookID" class="form-control" value=1 />
            </div>
            <div class="form-group" hidden>
                <label asp-for="ReceiptID" class="control-label"></label>
                <input asp-for="ReceiptID" class="form-control" value=1 />
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase a book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Books" asp-action="Index">Back to List</a>
</div>